.forecast-title {
  font-size: 23px;
  color: white;
  font-weight: 900;
  text-align: center;
  padding: 10px 15px 15px 10px;;
}

.hourly-item {
  background-color: #3f5082;
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  align-items: center;
  display: flex;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
  color: white;
}

.icon-small {
  width: 40px;
}

.hour {
  color: white;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
  color: white;
  text-transform: capitalize;
}

.temp {
  color: white;
}

.hourly-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  column-gap: 15px;
  row-gap: 0px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #92BCEA;
}

.hourly-details-grid-item {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
}

.hourly-details-grid-item label:first-child {
  font-weight: 600;
  color: white;
}

.hourly-details-grid-item label:last-child {
  color: white;
}
